@charset "UTF-8";
html,body{
background: url("../photo/back.png");
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
width: 100%;
height: 100%;
}
.doraemon{
width: 100%;
height: 100%;
}
.doraemon_text{
FONT-SIZE: 23px; 
FILTER: shadow(color=#af2dco); 
COLOR: #336699; 
FONT-FAMILY: 华文行楷;
line-height: 3;
width: 80%;
height: 20%;
display：inline;
}
#sendEmail{
	height: 20%;
	COLOR: #336699; 
	FONT-SIZE: 24px; 

}
#startForm{
            display: none; 
            position: absolute; 
            top: 30%; 
            left: 30%; 
          height: 30%;
		  width: 50%; 
            z-index:1001; 
            -moz-opacity: 0.8; 
            opacity:.80; 
            filter: alpha(opacity=88); 
}

.startForm input{
height: 30%;
	FONT-FAMILY: 华文行楷;
}
#bizi{
position: absolute;
width: 11%;
height: 11%;
margin-left:35%;
margin-top:16%;
background-color: transparent;
border:0;}
}